

/* Si quieres un gris claro */
:root {
  --swiper-navigation-color: #D3D3D3;
}


:root {
  --swiper-pagination-progressbar-bg-color:  #696969d3;/* Casi blanco semitransparente para el fondo */
  --swiper-pagination-color:rgba(250, 250, 250, 0.8);  /* Gris oscuro para la barra de llenado (coherente con el diseño) */

}



html,
body {
    position: relative;
    height: 100%;
}

body {
    background:#696969;/* // #eee; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background:#696969;/*  #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 67%;
    height: 100%;
    object-fit: cover;
}

